.App {
  display: flex;

  height: 100vh;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;

  height: 410px;
}

.imgenes {
  width: 200px;
  height: 200px;
  border-radius: 5%;
}

.btn {
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(146, 58, 31);
  border: none;
  color: #fff;
  border-radius: 3%;
}
